NEXT_PUBLIC_SUPABASE_URL=https://usjpvbxtqrmtacgujnxf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_ogbLPBd17rpW1IZQOSp03g_U28Tl3r8
SUPABASE_SERVICE_ROLE_KEY=sb_secret_qqG6Pga60zhuLcXMFdp_Og_sxJbLtOf
NEXT_PUBLIC_FASTAPI_URL=https://your-api.railway.app
